<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<title>文峰视听门户网站</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/BootStrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Index/index3.css">
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/BootStrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="row">
		<!-- 顶部  -->
		<div class="col-md-12">
			<div class="top">
				<div class="container c_top">
					<div class="top_r pull-right">
						邮箱:35435435.com | <a href="">收藏本站</a> | <a href="">设为主页</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
		<!-- Logo&Banner -->
		<nav class="navbar navbar-inverse">
		  <div class="container">

		    <!-- 手机的缩小菜单 -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			     	<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
				
				<!-- Logo图片 -->
			    <a class="navbar-brand" href="#">
			    	<img src="__PUBLIC__/images/logo.png">
			  	</a>
		    </div>

		    
		    <ul class="nav navbar-nav navbar-right">
		        <li class="active"><a href="#">主页</a></li>
		        <li><a href="#">关于我们</a></li>
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">视频 <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">视频教学</a></li>
			          <li><a href="#">视频聚焦</a></li>
			          <li><a href="#">视频对对碰</a></li>
			          <li><a href="#">视频原创</a></li>
			          <li><a href="#">视频门户网站</a></li>
			        </ul>
		        </li>
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">时尚生活馆 <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">博文推荐</a></li>
			          <li><a href="#">时尚生活网址大全</a></li>
			        </ul>
		        </li>
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">网购 <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">购物门户网站</a></li>
			          <li><a href="#">购物贴士</a></li>
			          <li><a href="#">品牌入驻中</a></li>
			          <li><a href="#">海外购物</a></li>
			          <li><a href="#">购物推荐</a></li>
			          <li><a href="#">购物经验分享</a></li>
			        </ul>
		        </li>
		        <li><a href="#">在线互动</a></li>
		    </ul>

		  </div><!-- /.container -->
		</nav>



		</div>



	</div>

</body>
</html>