<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台页面</title>
</head>
	<frameset rows="10%,*" cols="*" frameborder="no" border="0" framespacing="0">
		<frame src="{:U('topFrame')}" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame"></frame>
		<frameset cols="10%,*" frameborder="no" border="0" framespacing="0">
			<frame src="{:U('leftFrame')}" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame"></frame>
			<frame src="{:U('mainFrame')}" name="mainFrame" id="mainFrame" title="mainFrame"></frame>
		</frameset>
	</frameset>
</html>