<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台用户登录</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login/login1.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/login/login1.js"></script>

</head>
<body>
		<div class="outer-wrap">
			<div class="login-panel">
				<h2>欢迎登录</h2>
                    <form action="{:U('check')}" method="post" role="form">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="userid" name="userid" placeholder="请输入用户ID"/>
                        </div>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
                        </div>
                       <div class="input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon1">验证码</span>
                            <span class="input-group-addon" id="sizing-addon1"><img src="{:U('genel_verifyCode')}" accesskey="__URL__/genel_verifyCode" id="verify_img"></span>
                        </div>
                       <input type="text" class="form-control" id="verifycode" name="verifycode" placeholder="请输入验证码" accesskey="__URL__/verifyAjax" />
                        <br/>
                        <button type="submit" class="btn btn-success btn-block" id="submit">登录</button>
                        <button type="reset" class="btn btn-danger btn-block">重置</button>
                    </form>
			</div>
		</div>
</body>
</html>